<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Главная страница </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <pagename>
        {% block pagename %}
        <h1><b> Меню </b>pagename</h1>

        {% endblock %}
    </pagename>

    <menu>
        {% block menu %}
        <h3 style="border: 3px blue solid; background-color: lightyellow; padding: 10px;">
            <li><a href='/platform/'>Главная страница</a></li>
            <li><a href='/platform/shop/'>Магазин</a></li>
            <li><a href='/platform/basket/'>Корзина</a></li>
            <li><a href='/platform/myblog/'>Мой блог</a></li>
        </h3>
        {% endblock %}
    </menu>

    <content>
        {% block content %}
            <h3 style="border: 3px red solid; background-color: lightyellow;
            padding: 10px; text-align: center; color: blue;">
                <li><a href='/'>Зарегистрироваться</a></li>
            </h3>
        {% endblock %}
    </content>

</body>
</html>
